.text_input_wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.inputs {
  width: 258px;
  height: 36px;
  background: #fafafa;
  border-radius: 3px;
  -webkit-appearance: none;
  border: 1px solid hsl(210deg 8% 75%);
  font-size: 12px;
  color: #808080ff;
  font-weight: 200;
  padding: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs:focus {
  outline: none;
}
.inputs:focus ~ label {
  transform: translateY(30%) translateX(-15%) scale(0.69);
  color: #808080ff;
}

.error_text {
  color: red;
  font-size: 12px;
}
.input_div {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.input_group {
  position: relative;
}
label {
  position: absolute;
  color: #808080ff;
  left: 10px;
  bottom: 25px;
  font-size: 13px;
  transform: translateY(1.08rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
