.my_profile_wrapper{
  margin-left: 270px;
  width: calc(100% - 270px);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.my_profile {
  width: 940px;
  display: block;
}

.just {
  width: 270px;
  height: 100vh;
  float: left;
}

.upper_part {
  width: 100%;
  height: 30vh;
  display: flex;
}

.my_profile_image {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.my_profile_image img {
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.my_profile_about {
  width: 65%;
  height: 100%;
  padding-top: 3%;
}

.my_profile_about > div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}

.my_profile_name_text {
  font-size: 30px;
  font-weight: 100;
  margin-right: 20px;
}

.my_profile_name_text span {
  cursor: text;
}

.my_profile_edit_part {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 7px;
}

.my_profile_edit_button {
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(239 239 239);
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.my_profile_edit_button:hover{
  background-color: #C7C7C7;
}

.my_profile_setting_part {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.my_profile_setting_part img {
  width: 30px;
}

.my_profile_counts_part div {
  margin-right: 25px;
}

.my_profile_counts_part span {
  font-weight: bold;
}

.followers_count {
  cursor: pointer;
}

.following_count {
  cursor: pointer;
}

.my_profile_show_category_part {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgb(202, 202, 202);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  font-size: 12px;
}

.my_profile_show_category_part div {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -2px;
}

.my_profile_post_part {
  width: 100%;
  height: 100%;
  background: red;
}

.my_profile_just_text {
  font-size: 15px;
  margin-bottom: 20px;
}

.my_profile_post_dont_have_share_button {
  color: rgb(0, 149, 246);
  cursor: pointer;
}

.my_profile_posting_part {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1 1 0;
}

.follow_not_active{
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #0095f6;
  color: white;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.label_part{
  width: 150px;
  height: 150px;
  position: absolute;
}

.file_input_label{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .my_profile {
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 1275px) {
  .my_profile {
    width: 850px;
  }
}

@media only screen and (max-width: 1200px) {
  .my_profile {
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 1000px) {
  .my_profile {
    width: 750px;
    margin-right: 3vw;
  }

  .single_post {
    height: 240px;
  }
}

@media only screen and (max-width: 860px) {
  .my_profile {
    width: 650px;
    margin-right: 3vw;
  }

  .single_post {
    height: 200px;
  }
}

@media only screen and (max-width: 760px) {
  .my_profile {
    width: 550px;
    margin-right: 3vw;
  }

  .single_post {
    height: 180px;
  }
}

.post_wrapper{
  display: flex;
  gap: 10px;
}

.post_img{
  margin: 10px;
  width: 293px;
  height: 293px;
}

.not_followed{
  margin-left: 100px;
  width: 768px;
  height:167px;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not_followed_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}





@media only screen and (max-width: 660px) {
  .my_profile {
    width: 500px;
    margin-right: 3vw;
  }

  .single_post {
    height: 130px;
  }
}
