.notification-part{
    z-index: 6;
    background-color: white;
    position: fixed;
    width: 400px;
    height: 100vh;
    animation: slideInNotify .3s ease-in forwards;
    margin-left: -370px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid lightgrey;
}

.notification-section{
    height: 12vh;
    line-height: 10vh;
    padding-left: 25px;
    font-size: 25px;
    border-bottom: 2px solid rgb(202, 202, 202);
}

.section-of-notifications{
    height: 88vh;
    overflow: auto;
}

.single-notification{
    width: 396px;
    height: 81px;
    border-radius: 8px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single_notification_text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.single-notification:hover{
    background-color: #fafafa;
}

.single_notification_container{
    display: flex;
}

.notification_user_info{
    display: flex;
    justify-content: center;
}


.section-of-notifications span{
    max-width: 120px;
}

.section-of-notifications img{
    height: 43px;
}

.single-notification button{
    width: 100px;
    height: 4.5vh;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.notification_to_follow{
    background-color: #0095f6;
    color: white;
    width: 110px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.notification_to_follow:hover{
    background-color: #1977f2;
}

.notification_following{
    background-color: #efefef;
    width: 110px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.notification_following:hover{
    background-color: #dbdbdb;
}

@keyframes slideInNotify {
    0% {
        margin-left: -350px;
    }

    100% {
        margin-left: 70px;
    }
}

