.notification-part{
    z-index: 6;
    background-color: white;
    position: fixed;
    width: 400px;
    height: 100vh;
    animation: slideInNotify .3s ease-in forwards;
    margin-left: -370px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid lightgrey;
}

.notification-section{
    height: 12vh;
    line-height: 10vh;
    padding-left: 25px;
    font-size: 25px;
    border-bottom: 2px solid rgb(202, 202, 202);
}

.section-of-notifications{
    height: 88vh;
    overflow: auto;
}

.single-notification{
    height: 7vh;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    margin: 1vh 0;
    padding: 10px;
}

.section-of-notifications span{
    max-width: 120px;
}

.section-of-notifications img{
    height: 43px;
}

.single-notification button{
    width: 100px;
    height: 4.5vh;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.notification_to_follow{
    background-color: #0095f6;
    color: white;
}
.notification_to_follow:hover{
    background-color: #8E8E8E;
}

.notification_following{
    background-color: #efefef;
}

.notification_following:hover{
    background-color: #958e8e;
}

@keyframes slideInNotify {
    0% {
        margin-left: -350px;
    }

    100% {
        margin-left: 70px;
    }
}

