*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main_layout_wrapper{
    margin-left: 270px;
    height: 100vh;
    background-color: #fafafa;
}

.message_wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 0;
    height: 100%;
}
.message_container{
    display:flex;
    border: 1px solid rgb(202,202,202);
    width: 100%;
    max-width: 945px;
    height: 100%;
    background-color: white;
}


@media screen and (max-width: 1200px) {
    .main_layout_wrapper{
        margin-left: 70px;
    }
}

@media screen and (max-width: 1000px){
    .message_wrapper{
        padding: 0;
    }
}


