.min-bar{
    display: block;
    width: 70px;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 3;
    border: 1px solid lightgrey;
}

.min-logo-part{
    width: 100%;
    height: 5vh;
    cursor: pointer;
}

.min-logo-part img{
    width: 28px;
    display: block;
    margin:5vh auto 0;
}

.min-category-part{
    height: 70vh;
    width: 100%;
    padding-top: 3vh;
}

.min-single-category{
    width: 60%;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    margin: 2.5vh auto;
    border-radius: 50%;
    cursor: pointer;
}


.min-single-category img{
    height: 23px;
    display: block;
    margin-top: 0.9vh;
    transition: all .3s ease-in-out
}

.dropdown{
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 270px;
    max-height: fit-content;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background: white;
}

.dropdown_child:first-child{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.dropdown_child:first-child:hover{
    background-color: #fafafa;
}

.dropdown_settings{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 44px;
    padding: 8px 16px;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
}

.dropdown_settings:hover{
    background-color: #fafafa;
}

.saved_icon{
    width: 19px;
    height: 19px;
}


.logout{
    display: flex;
    align-items: center;
    height: 44px;
}

.dropdown_child:last-child{
    border: none;
}

.dropdown_child{
    display: flex;
    align-items: center;
    height: 44px;
    padding: 8px 16px;
    border-bottom: 1px solid lightgrey;
}

.min-single-category:hover{
    background-color: rgba(230, 230, 230,0.4);
}

.min-single-category:hover .min-icon{
    transform: scale(1.1);
}

.min-menu-part{
    margin-top: 8vh;
}


@media only screen and (max-width: 300px) {
    .dropdown {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .dropdown {
        display: none;
    }
}

